﻿/**
 * Elixir Dizi Teması
 * Copyright 2014
 * www.astald.com
 * Tüm hakları saklıdır
 */
 body{font-family:"Open Sans","Open Sans Condensed",Arial,Tahoma;font-size:14px;line-height:22px;margin:0 auto;padding:0;width:100%}
*{box-sizing:border-box;outline:none!important;border-radius:0!important}
a{text-decoration:none;transition:opacity .3s ease 0s,box-shadow .3s ease 0s,color .3s ease 0s,background-color .3s ease 0s,border .3s ease 0}
a:active,a:hover,a:focus{text-decoration:none}
::-webkit-selection,::-moz-selection{background-color:rgba(0,0,0,0.66);color:#fff}
.m-5{margin:5px}
.m-10{margin:10px}
.m-t-0{margin-top:0}
.m-t-5{margin-top:5px}
.m-t-10{margin-top:10px}
.m-t-20{margin-top:20px}
.m-tb-10{margin:10px 0}
.m-l-10{margin-left:10px}
.m-l-20{margin-left:20px}
.m-r-10{margin-right:10px}
.m-r-20{margin-right:20px}
.m-t-10{margin-top:10px}
.m-t-20{margin-top:20px}
.m-b-10{margin-bottom:10px}
.m-b-20{margin-bottom:20px}
.m-b-0{margin-bottom:0}
.p-b-0{padding-bottom:0}
.p-10{padding:10px}
.p-5{padding:5px!important}
.stilyok,.sosyal-medya,.en-ust .en-ust-menu{list-style-type:none;padding-left:0}
.ust .en-ust{padding:6px 0 2px;background-color:#F7F7F7}
.ust .en-ust .en-ust-menu > li{display:inline-block;font-size:14px;float:left;padding:0;margin:0}
.ust .en-ust .en-ust-menu > li > a{color:#116362}
.ust .en-ust .en-ust-menu > li > a:hover{color:#FF9529}
.ust .en-ust .en-ust-menu.en-ust-menu-sol > li{padding:3px 15px 0 0;margin:0}
.ust .en-ust .en-ust-menu.en-ust-menu-sag > li{padding:3px 0 0 15px;font-size:17px;margin:0}
.ust .en-ust .en-ust-menu.en-ust-menu-sag > li > a{color:#aaa}
.ust .en-ust .en-ust-menu.en-ust-menu-sag > li > a:hover{color:#e84124}
.ust-bolum{margin-top:18px;margin-bottom:30px}
.ust-logo h1{color:#333}
.ust-logo .logo-resim{float:left;margin-top:0;margin-right:10px}
.ust-menu .navbar{min-height:28px}
.ust-menu{background-color:#FF9529;box-shadow:0 6px 5px -8px rgba(0,0,0,0.75);z-index:3}
.ust-menu,.navbar-default{color:#fff}
.navbar-default{margin:0;padding:0;background-color:#FF9529;border:#FF9529!important}
.navbar-default .navbar-toggle{color:#fff}
.navbar-default .navbar-toggle span.icon-bar{background-color:#fff}
.navbar-default .navbar-collapse{margin-right:0}
.navbar-default .navbar-brand:active,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand{color:#fff}
.navbar-default .navbar-toggle:active,.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:#2F353B!important}
.navbar-default .navbar-nav > li > a{border:none;font-family:"Open Sans","Open Sans Condensed",Arial,Tahoma;font-weight:700;font-size:15px;line-height:18px;text-transform:uppercase;color:#fff}
.navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav > li > a:hover{background-color:#2F353B;color:#fff}
.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:focus,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:focus,.navbar-default .navbar-nav > .active > a:hover{background-color:#2F353B;color:#fff}
.navbar-default .navbar-nav > li > a i.fa-anasayfa{font-size:17px;padding-left:6px;margin-right:10px}
.navbar .navbar-form{margin:4px 0 0}
.navbar .form-control{background-color:#d03a1e;border:none!important;color:#ffbaad!important}
.navbar-form .form-control-feedback,.form-control::-moz-placeholder{color:#ffbaad}
.form-control:-ms-input-placeholder{color:#ffbaad}
.form-control::-webkit-input-placeholder{color:#ffbaad}
@media (min-width: 768px) {
.ust-kisim{margin-top:40px}
.en-ust-menu-sol{float:left!important}
.ust-iletisim,.en-ust-menu-sag{float:right!important}
.navbar-default .navbar-nav > li > a{border-right:1px solid #ff874d}
.navbar-default .navbar-nav > .active > a{border-right:1px solid #2F353B}
.navbar-default .navbar-nav > li > a i.fa-anasayfa{margin-left:-10px!important}
.navbar-default .navbar-nav{margin-left:0}
.navbar-default .navbar-collapse{padding-left:0!important;padding-right:0!important;margin-right:0!important;margin-left:0!important}
}
@media (max-width: 767px) {
.ust-logo,.ust-iletisim,.en-ust-menu-sag,.en-ust-menu-sol{text-align:center;margin:0 auto;float:center}
.en-ust-menu-sol{margin-left:27%}
.en-ust-menu-sag{margin-left:35%;margin-top:8px;padding-bottom:10px}
}
.orta{margin:20px 0 0}
.slider{margin-bottom:20px;position:relative;overflow:hidden}
.slider-bg-1{background:#116362 url(../resim/slider-bg-1.png) no-repeat top center;width:100%}
@media (min-width: 768px) {
.slider{padding:0}
}
.slider .slider-resim,.slider img.slider-resim{z-index:2}
.slider .slider-aciklama{z-index:4;margin-top:25px}
.slider .slider-basliklar{border-left:2px solid #fff;padding-left:10px;color:#fff}
.slider .slider-baslik-2 h2,.slider h2.slider-baslik-2,.slider .slider-baslik-2,.slider .slider-baslik{font-family:"Open Sans Condensed","Open Sans",Arial,Tahoma;font-weight:700;font-size:23px}
.slider .slider-baslik-3{margin-top:5px;font-family:"Open Sans","Open Sans Condensed",Arial,Tahoma;font-weight:400;font-size:30px}
.slider .aciklama{color:#fff;font-family:"Open Sans Condensed","Open Sans",Arial,Tahoma;font-weight:700;font-size:18px;margin-bottom:15px}
.slider .btn-devam{background:url(../resim/devam.png) no-repeat 0 0;display:block;text-indent:-9999px;width:183px;height:30px;margin:15px 0 10px}
.slider .owl-controls{position:absolute;bottom:10px;right:50%}
.slider .owl-controls .owl-dot span{border-radius:10px!important;background-color:#fff!important;border:2px solid #fff;padding:7px}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background-color:#e84124!important;border:2px solid #fff}
.diziler .page-header{color:#333}
.diziler .page-header .tumunu-goruntule{color:#898989;font-weight:400;font-size:15px}
.diziler-liste{width:221.2px;overflow:hidden;position:relative;-webkit-box-shadow:0 0 6px -3px rgba(0,0,0,0.75);-moz-box-shadow:0 0 6px -3px rgba(0,0,0,0.75);box-shadow:0 0 6px -3px rgba(0,0,0,0.75);padding:0;border-color:none!important;height:190px}
.diziler-liste:active,.diziler-liste :focus,.diziler-liste:hover{-webkit-box-shadow:0 0 12px -3px rgba(0,0,0,0.75);-moz-box-shadow:0 0 12px -3px rgba(0,0,0,0.75);box-shadow:0 0 12px -3px rgba(0,0,0,0.75);-webkit-transition:all 1s linear;-o-transition:all 1s linear;-moz-transition:all 1s linear;-ms-transition:all 1s linear;-kthtml-transition:all 1s linear;transition:all 1s linear}
.diziler-liste .diziler-liste-resim img,.diziler-liste img.diziler-liste-resim{width:100%}
.diziler-liste .diziler-liste-tarih{background-color:rgba(0,0,0,0.5);color:#fff;top:1px;right:1px;padding:5px;position:absolute}
.diziler-liste .diziler-liste-detay{background-color:rgba(0,0,0,0.5);bottom:1px;color:#fff;left:1px;right:1px;padding:5px;position:absolute;z-index:1}
.diziler-oncekisonraki .btn-onson{border-radius:5px!important}
.diziler-oncekisonraki .btn-onson:active,.diziler-oncekisonraki .btn-onson:focus,.diziler-oncekisonraki .btn-onson:hover{background-color:transparent;border-color:#e84124;color:#e84124}
#diziIzlePlayer iframe{z-index:99}
.sezonlarBolum,#diziBolumler{position:relative;max-height:400px;overflow-y:hidden}
.izle-dizi-baslik{padding:5px 8px;font-size:14px}
img.dizi-resmi{width:100%;height:300px}
#diziIzlePlayer iframe{width:100%;height:440px}
.videoPlayer iframe{position:absolute;top:0;left:0;width:100%;height:100%}
.kayitdolgu{padding-left:50px;padding-right:50px}
.kayitkoloncizgi{border-left:1px solid #ddd;min-height:300px}
.facebookgiris{margin-top:100px}
.bilginotu{color:#bcbcbc}
.vdizibosluk{margin-top:0;margin-bottom:10px}
.modal-dialog{z-index:9999!important}
.tablo-dizi{background-color:#fff;color:#000}
.tablo-dizi tr td:first-child{font-size:14px;font-weight:700}
.tablo-dizi tr td:first-child:before{content:"\f054";font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;font-size:11px;margin-right:5px}
.tablo-dizi tr td:first-child:after{content:":"}
.nav-tabs,.nav-pills{border-bottom-color:#45484d}
.nav-tabs > li > a,.nav-pills > li > a{background:#45484d;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,#45484d 0%,#000 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#45484d),color-stop(100%,#000));background:-webkit-linear-gradient(top,#45484d 0%,#000 100%);background:-o-linear-gradient(top,#45484d 0%,#000 100%);background:-ms-linear-gradient(top,#45484d 0%,#000 100%);background:linear-gradient(to bottom,#45484d 0%,#000 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d',endColorstr='#000000',GradientType=0);border-color:#010101;color:#ecf0f1;font-weight:600;font-size:14px;line-height:22px}
.nav-tabs > li > a:active,.nav-tabs > li > a:hover,.nav-tabs > li > a:focus{border-color:#000}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:focus,.nav-tabs > li.active > a:hover{font-size:22px;background:#45484d;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,#45484d 0%,#000 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#45484d),color-stop(100%,#000));background:-webkit-linear-gradient(top,#45484d 0%,#000 100%);background:-o-linear-gradient(top,#45484d 0%,#000 100%);background:-ms-linear-gradient(top,#45484d 0%,#000 100%);background:linear-gradient(to bottom,#45484d 0%,#000 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d',endColorstr='#000000',GradientType=0);border-color:#010101;color:#ecf0f1}
.yorum-thumbnail {padding:0px; }
.yorum {position:relative; }
.yorum>.yorum-heading:after,.yorum>.yorum-heading:before{position:absolute; top:11px;left:-16px; right:100%; width:0; height:0; display:block; content:" "; border-color:transparent; border-style:solid solid outset; pointer-events:none; }
.yorum>.yorum-heading:after{border-width:7px; border-right-color:#f7f7f7; margin-top:1px; margin-left:2px; }
.yorum>.yorum-heading:before{border-right-color:#ddd; border-width:8px; }
.sayfa .page-header{font-size:24px}
.sayfa .aciklama{color:#474747}
.paylas-ikonlari{padding-left:0;list-style-type:none;margin-top:20px;margin-bottom:-10px!important}
.paylas-ikonlari > li{float:left;display:block;margin-bottom:0;margin-bottom:-15px!important}
.paylas-ikonlari .twitter{margin-left:5px;padding-top:10px;margin-right:-10px!important}
.paylas-ikonlari .google-plus{margin-left:-20px!important}
.reklam-anasayfa{background-color:#151514;border-radius:6px;text-align:center;padding:10px;margin:3px 5px 8px}
.reklam-video-alt{margin-bottom:5px}
.sosyalmedya-aciklama{text-shadow:2px 2px 2px rgba(150,150,150,1);margin-top:30px}
.sosyalmedya a{margin:15px 6px 6px 0}
.sosyalmedya a.facebook{background:url(../resim/sosyal/facebook.png) no-repeat 0 0;width:32px;height:32px;line-height:32px;text-indent:-9999px;display:inline-block;vertical-align:middle}
.sosyalmedya a.twitter{background:url(../resim/sosyal/twitter.png) no-repeat 0 0;width:32px;height:32px;line-height:32px;text-indent:-9999px;display:inline-block;vertical-align:middle}
.sosyalmedya a.youtube{background:url(../resim/sosyal/youtube.png) no-repeat 0 0;width:32px;height:32px;line-height:32px;text-indent:-9999px;display:inline-block;vertical-align:middle}
.sosyalmedya a.instagram{background:url(../resim/sosyal/instagram.png) no-repeat 0 0;width:32px;height:32px;line-height:32px;text-indent:-9999px;display:inline-block;vertical-align:middle}
.sosyalmedya a.google-plus{background:url(../resim/sosyal/google-plus.png) no-repeat 0 0;width:32px;height:32px;line-height:32px;text-indent:-9999px;display:inline-block;vertical-align:middle}
.dizipageFarki{color:#f1c40f;font-size:16px;font-weight:500;text-decoration:underline;text-shadow:none}
.dizipageFarki:hover{color:#f39c12!important}
.neredeyim{z-index:1;border-bottom:1px solid #eee}
.neredeyim ol{padding-left:0;padding-right:0}
.neredeyim ol > li{float:left;display:block;margin-right:10px}
.neredeyim ol > li > a{font-size:15px}
.neredeyim ol > li > a:after{content:"\f054";font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;color:#ccc;margin-left:10px}
.form-control{border-color:#d5d2d2;box-shadow:none!important}
.form-control:focus{border-color:#c4c2c2;box-shadow:none!important}
.btn-buton{color:#fff;background-color:#059b69;border:0!important}
.btn-buton:hover,.btn-buton:focus,.btn-buton.focus,.btn-buton:active,.btn-buton.active,.open > .dropdown-toggle.btn-buton{color:#fff;background-color:#039162;border:none!important}
.pagination > li > a,.pagination > li > span{color:#333}
.nav-tabs{border-bottom-color:#e1e1e1;margin-bottom:0}
.nav-tabs > li > a{background-clip:padding-box;background-color:transparent;border-color:transparent transparent #e1e1e1;border-radius:0;color:#555;font-weight:400;font-size:18px}
.nav-tabs > li > a:hover{background-color:#e9e9e9;border-color:#e9e9e9 #e9e9e9 #e1e1e1;color:#f63}
.nav-tabs > .active > a,.nav-tabs > .active > a:hover,.nav-tabs > .active > a:focus{background-color:#e9e9e9!important;border-color:#e1e1e1!important}
.tab-content{padding-top:0}
.tab-content .tab-pane{border-top:none;border:1px solid #e1e1e1;padding:20px}
.tab-content .tab-pane p{margin-bottom:20px}
.tab-content .tab-pane p:last-child{margin-bottom:0}
.kutu{background-color:#fbfbfb;position:relative;padding:15px}
.kutu.koyu{background-color:#eee}
.cizgi{clear:both;height:20px;margin:35px 0;overflow:hidden;padding:2px 0;position:relative;text-align:center;width:100%}
.cizgi-h::before,.cizgi-h::after{background-color:#e8e8e8;content:"";display:inline-block;height:1px;margin-top:7px;position:relative;vertical-align:top;width:50%}
.cizgi-h::before{left:-13px;margin-left:-50%}
.cizgi-h::after{left:13px;margin-right:-50%}
.cizgi-h i{color:#e8e8e8;font-size:16px;height:16px;line-height:16px;text-align:center;vertical-align:top;width:20px}
.cizgi.no_icon{font-size:0}
.cizgi.no_icon .cizgi-h::before,.cizgi.no_icon .cizgi-h::after{left:0}
.cizgi.no_icon .cizgi-h i{display:none}
.w_full iframe{width:100%;margin-bottom:20px;-webkit-box-shadow:0 0 18px 0 rgba(0,0,0,.25);-moz-box-shadow:0 0 18px 0 rgba(0,0,0,.25);-o-box-shadow:0 0 18px 0 rgba(0,0,0,.25);-ms-box-shadow:0 0 18px 0 rgba(0,0,0,.25);box-shadow:0 0 18px 0 rgba(0,0,0,.25);border:0}
.panel-boslukyok .panel-body{padding-bottom:0}
.panel.panel-detay{background-color:#FF9529;color:#7f7f7f}
.panel .panel-heading{font-weight:700;font-size:15px}
.panel.panel-detay .panel-baslik{color:#4e4e4e;margin-top:0}
.panel.panel-primary{border:1px solid #2F353B}
.panel.panel-primary .panel-heading{background-color:#2F353B;border-bottom-color:#474747;color:#fff}
.panel.panel-primary .panel-body{background-color:#fff}
.panel.panel-default{border:1px solid #FF9529}
.panel.panel-default .panel-heading{background-color:#FF9529;color:#fff}
.panel.panel-default .panel-body{background-color:#fff}
.panel.panel-default .panel-body.sayfa-aciklama{font-size:13px;line-height:23px;color:#6d4955}
.alt{background-color:#f8f8f8;color:#666;margin:35px 0 0}
.alt .alt-menu{background-color:#f4f4f4;border-bottom:1px solid #e9e9e9;padding:10px 0}
.alt .alt-menu .en-alt-menu > li{display:inline-block;font-size:12px;float:left;padding:0;margin:0}
.alt .alt-menu .en-alt-menu > li > a{color:#116362}
.alt .alt-menu .en-alt-menu > li > a:hover{color:#e84124}
.alt .alt-menu .en-alt-menu.en-alt-menu-sol > li{padding:8px 15px 0 0;margin:0}
.alt .alt-menu .en-alt-menu.en-alt-menu-sag > li{padding:8px 0 0 15px;font-size:17px;margin:0}
.alt .alt-menu .en-alt-menu.en-alt-menu-sag > li > a{color:#aaa}
.alt .alt-menu .en-alt-menu.en-alt-menu-sag > li > a:hover{color:#e84124}
.alt .alt-detay{margin:10px 0 15px}
.alt .alt-detay h4,.alt .alt-detay .alt-detay-baslik h4,.alt .alt-detay h4.alt-detay-baslik,.alt .alt-detay .alt-detay-baslik{border-bottom:1px dotted #ddd;color:#666;font-weight:700;font-size:16px;padding-bottom:10px}
.alt .alt-detay .alt-detay-aciklama{color:#777;font-size:13px}
.alt .alt-detay .alt-detay-liste > li{border-bottom:1px solid #e5e5e5;padding-bottom:8px}
.alt .alt-detay .alt-iletisim > li{color:#515151;padding-top:15px}
.alt .alt-detay .alt-iletisim p{font-size:15px}
.alt .alt-detay .alt-iletisim .icon-iletisim{margin-right:10px;font-size:26px}
.alt .alt-detay .alt-detay-liste .alt-detay-liste-baslik{color:#777;font-size:14px;font-weight:700}
.alt .alt-detay .alt-detay-liste .alt-detay-liste-bolum{color:#bcbcbc;font-size:13px;font-weight:400}
.alt .alt-detay .alt-detay-ebulten .form-control{background-color:transparent}
.alt .alt-detay .alt-detay-ebulten .btn-ebulten{font-weight:700}
.alt-diziler{margin-bottom:10px;max-height:200px;position:relative;overflow:hidden}
.alt-diziler-liste{background-color:#FF9529;box-shadow:0 6px 5px -8px rgba(0,0,0,0.75)}
.alt-diziler-liste:hover{background-color:#777}
.alt-diziler-liste:hover small{background-color:#FF9529}
.alt-diziler-liste{margin-bottom:5px}
.alt-telif{background-color:#585D62;color:#fff;padding:10px 0}
.alt .alt-copyright{padding:10px 0}
.alt .alt-copyright-sag > a{color:#333;margin-left:10px}
@media (min-width: 768px) {
.en-alt-menu-sol{float:left!important}
.en-alt-menu-sag{float:right!important}
}
@media (max-width: 767px) {
.en-alt-menu-sag,.en-alt-menu-sol{text-align:center;margin:0 auto;float:center}
.en-alt-menu-sag{margin-left:27%}
}